<?xml version="1.0" encoding="UTF-8"?>

<jnlp codebase="" spec="1.0+" href="secrenderer.jnlp">
    <information>
        <title>SECRenderer</title>
        <vendor>SEC</vendor>
        <offline-allowed/>
    </information>
    
    <security>
        <all-permissions/>
    </security>

    <resources>            
		<jar href="SECRenderer-${sec.dependency.version}.jar"/>
		<jar href="JavaRenderer-${sec.dependency.version}.jar"/>
		<jar href="JavaRendererServer-${sec.dependency.version}.jar"/>
		<jar href="JavaLineArray-${sec.dependency.version}.jar"/>
		<jar href="JavaRendererUtils-${sec.dependency.version}.jar"/>
		<jar href="JavaRendererPluginInterface-${sec.dependency.version}.jar"/>
    </resources>

	<component-desc />
</jnlp>